page-quotes {
    .no-scroll .scroll-content{
        overflow: hidden;
    }

    .quote-card {
        width: 100%;
        background-color: #f8f8f8;
        margin: 0;
    }

    .left-arrow {
        margin-left: 0;
    }

    .right-arrow {
        margin-right: 0;
    }

    @media only screen and (min-width:800px) {
        .quote-card {
            margin-top: 10vh;
            min-height: 70vh;
            width: 80%;
            margin-left: 10%;
            background-color: #f8f8f8;
        }

        .left-arrow {
            margin-left: calc(10% - 3rem);
        }

        .right-arrow {
            margin-right: calc(10% - 1rem);
        }

    }

    .button-container {
        width: 100%;
        text-align: center;

        .full-link-btn {
            display: inline-block;
        }
    }

}
