page-quotes {
    .no-scroll .scroll-content{
        overflow: hidden;
    }

    .quote-card {
        margin-top: 10vh;
        height: 70vh;
        width: 80%;
        margin-left: 10%;
        background-color: #f8f8f8;
    }

    .left-arrow {
        margin-left: calc(10% - 3rem);
    }

    .right-arrow {
        margin-right: calc(10% - 3rem);
    }

    .button-container {
        width: 100%;
        text-align: center;

        .full-link-btn {
            display: inline-block;
        }
    }

}
