page-add-quote {

    .add-quote-container {
        height: 90%;

        .title-text {
            // background: white;
        }
        .free-form-container {
            height: 60%;
            // background: white;
            .free-form-text {
                height: 100%;
                textarea {
                    height: 100%;
                }
            }
        }
        }
}
